@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 500;
  color: #0000008c;
}
